body, h2, h3, h4, h5, h6 {
    font-family: "Lato", sans-serif;
}

.glyphicon-chevron-right {
    font-weight:lighter;
}
.glyphicon-check {
    font-size:180px;
    color: rgb(19, 165, 165);
}


h1, button {
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-family: "Lato", sans-serif;
    font-size: 64px;
    font-weight:normal;
    color: white;
    text-align: center;
}

h3 { 
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight:lighter;
    color: white;
    text-align:center;
}

h2 {
    text-align: left;
}

h4 {
    text-align: center;
}

p {
    text-align: justify;
    font-size:20px;
}

header {
   background-color:  rgb(19, 165, 165);
   padding:64px 16px;
}

header:hover {
    background-color:  rgba(19, 165, 165, 0.9);
}

footer {
   background-color:  rgb(19, 165, 165);
   padding:28px 16px;
}

.end {
    background-color:white;
    padding:64px 16px;
}

button { 
    background-color:black;
    border: none;
    color: white;
    text-align:center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 10px 24px;
}

.buttons {
    text-align: center;
}

nav {
    font-family: "Montserrat", sans-serif;
    font-weight:normal;
    color: white;
    text-align: left;
    background-color: rgb(124, 206, 206);
}
ul {
    list-style-type: none;
    position: sticky;
    top: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0.959);
}
 
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.login-register {
    float:right;
    background-color:black;
}

.login-register:hover {
    opacity: 0.7;
}

li a:hover:not(.active) {
    background-color: rgb(7, 7, 7);
}

.active {
    background-color: rgb(19, 165, 165);
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 200px 20px;
    grid-gap: 100px;
    padding: 50px;
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0px;
    font-size: 30px;
}

.section-bar { 
    font-family: "Montserrat", sans-serif;
    background-color: rgb(190, 190, 190);
    text-align: center;
    font-size: large;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-rows: 10px 10px;
    grid-gap: 1px;
    padding: 10px;
}

.main-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 200px 20px;
    grid-gap: 100px;
    padding: 50px;
}

textarea {
    resize: none;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.prev-next { 
    text-align: center;
}

.prev-next:hover {
    opacity: 0.7;
}