body, h2, h3, h4, h5, h6 {
    font-family: "Lato", sans-serif;
}

body {
    padding:0;
    margin:0;
}

.glyphicon-edit, .glyphicon-saved, .glyphicon-download {
    font-size:200px;
    color: rgb(19, 165, 165);
}

h1, button {
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-family: "Lato", sans-serif;
    font-size: 64px;
    font-weight:normal;
    color: white;
    text-align: center;
}

h2 {
    text-align:justify;
}

h3 { 
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight:lighter;
    color: white;
    text-align:center;
}

p {
    text-align:justify;
    font-size:20px;
}

header {
    font-family: "Lato", sans-serif;
    color: white;
    background-color:  rgb(19, 165, 165);
    padding:64px 16px;
}

header:hover {
    background-color:  rgba(19, 165, 165, 0.9);
   
}

footer {
    background-color:  rgb(19, 165, 165);
    padding:28px 16px;
}

.end {
    background-color:white;
    padding:64px 16px;
}

button { 
    background-color:black;
    border: none;
    color: white;
    text-align:center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 10px 24px;
}

.buttons {
    text-align: center;
}

nav {
    font-family: "Montserrat", sans-serif;
    font-weight:normal;
    color: white;
    text-align: left;
    background-color: rgb(124, 206, 206);
}
ul {
    list-style-type: none;
    position: sticky;
    top: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0.959);
}
 
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.login-register {
    float:right;
    background-color:black;
}

.login-register:hover {
    opacity: 0.8;
}

li a:hover:not(.active) {
    background-color: rgb(7, 7, 7);
}

.active {
    background-color: rgb(19, 165, 165);
}

button:hover {
    opacity: 0.8;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 250px 0px;
    grid-gap: 50px;
    padding: 50px;
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0px;
    font-size: 30px;
}